<div class="Exception">
    <h1>JavaScript is disabled</h1>

    <div class="Message">
        This library requires enabled JavaScript in the browser. See link below for more information:<br/>
        <a href="http://www.enable-javascript.com/" target="_blank">How to enable JavaScript?</a>
    </div>
</div>