// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

[guiType="GuiRow"] > .Panel {
  // sass-lint:disable-block no-important
  display: table !important;
  height: 100%;
  width: 100%;
}

.Panel {
  left: 0;
  position: relative;
  top: 0;

  a > .Hidden {
    border: 1px solid $COM_WUI_FRAMEWORK_RED;
    color: $COM_WUI_FRAMEWORK_RED;
    cursor: pointer;
    float: left;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .Async {
    left: 0;
    position: relative;
    top: 0;

    .Icons {
      float: left;
    }

    .Label {
      left: 0;
      position: relative;
      top: 0;
    }
  }
}

[guiType="Panel"] {
  > .Envelop {
    overflow-x: hidden;
    overflow-y: hidden;

    > .Content {
      left: 0;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
      width: 100%;
    }
  }
}
