// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

@mixin setOpacity($value) {
  // sass-lint:disable-block no-vendor-prefixes, property-sort-order, no-misspelled-properties
  $value1: 0;
  $value100: 0;
  @if $value >= 0 {
    @if $value <= 100 {
      $value: abs($value);
      @if $value < 1 {
        @if $value > 0 {
          $value100: $value * 100;
          $value1: $value;
        }
      } @else {
        $value100: $value;
        $value1: $value / 100;
      }
    } @else {
      $value100: 100;
      $value1: 1;
    }
  }
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value100})";
  filter: alpha(opacity=$value100);
  -moz-opacity: $value1;
  -khtml-opacity: $value1;
  opacity: $value1;
}

@mixin setLinearGradient($from, $to) {
  // sass-lint:disable-all
  background: $from;
  background: -webkit-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
  // sass-lint:enable-all
}
