// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

.DeveloperCorner {
  .Distance {
    min-height: 40px;
    position: relative;
  }

  .Envelop {
    background-color: $COM_WUI_FRAMEWORK_WHITE;
    border-bottom: 3px solid $COM_WUI_FRAMEWORK_BLUE;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;

    .Content {
      margin: 0;
      padding: 5px 0 0;
    }
  }

  .Cached {
    border-bottom: 3px solid $COM_WUI_FRAMEWORK_GREEN;
  }

  .Links {
    text-align: center;
  }

  .Info {
    clear: both;
    font-style: italic;
    padding-bottom: 5px;

    .Viewer {
      float: left;
      font-size: 12px;
      padding-left: 30px;
      position: relative;
      top: 6px;
    }

    .Process {
      float: right;
      padding-right: 30px;
      text-align: right;
    }
  }

  .Echo {
    clear: both;
    font-family: Consolas, serif;
    overflow: auto;
    padding: 15px;
  }

  .Debug {
    background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
    border-top: 3px solid $COM_WUI_FRAMEWORK_BLUE;
    display: none;

    .Link {
      clear: both;
      color: $COM_WUI_FRAMEWORK_BLUE;
      float: left;
      padding-left: 15px;
      padding-top: 15px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ViewHtmlCode .Line {
    padding-left: 15px;
  }

  .ContextMenu {
    background-color: $COM_WUI_FRAMEWORK_WHITE;
    border: 1px solid $COM_WUI_FRAMEWORK_BLUE;
    display: none;
    float: left;
    left: 0;
    min-height: 20px;
    min-width: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 10001;

    .Link,
    .Link a {
      clear: both;
      cursor: pointer;
      font-size: 13px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .WuiBuilder {
    .Background,
    .Progress {
      background-color: $COM_WUI_FRAMEWORK_BLACK;
      display: none;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 10010;
    }

    .Background {
      @include setOpacity(50);
      height: 1000px;
      width: 100%;
    }

    .Progress {
      color: $COM_WUI_FRAMEWORK_WHITE;
      float: left;
      padding: 10px;
    }
  }

  .WuiDesigner {
    .Background {
      background: $COM_WUI_FRAMEWORK_GUI_CROSS_BACKGROUND repeat;
      height: 768px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1000;
    }
  }
}

.WuiViewerTestRunnerProgress {
  background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
  color: $COM_WUI_FRAMEWORK_GREEN;
  font-size: 19px;
  font-weight: bold;
  left: 0;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
