// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

@font-face {
  // sass-lint:disable-block no-duplicate-properties
  font-family: "Oxygen";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../../libs/FontOxygen/Oxygen-Regular.eot");
  src: url("../../../../../libs/FontOxygen/Oxygen-Regular.eot?#iefix") format("embedded-opentype"),
  url("../../../../../libs/FontOxygen/Oxygen-Regular.woff") format("woff"),
  url("../../../../../libs/FontOxygen/Oxygen-Regular.ttf") format("truetype"),
  url("../../../../../libs/FontOxygen/Oxygen-Regular.svg#oxygenregular") format("svg");
}

body {
  border: 0 solid $COM_WUI_FRAMEWORK_WHITE;
  color: $COM_WUI_FRAMEWORK_BLACK;
  font-family: "Oxygen", sans-serif;
  width: 100%;
}

h1,
h2 {
  color: $COM_WUI_FRAMEWORK_GRAY_DARK;
}

h3 {
  color: $COM_WUI_FRAMEWORK_GRAY;
}

a {
  color: $COM_WUI_FRAMEWORK_BLUE;
}

textarea {
  overflow: scroll;
  resize: none;
}

input,
textarea {
  font-family: "Oxygen", sans-serif;
  font-size: $fontSize;
  outline: none;
}

iframe {
  display: none;
}

br {
  clear: both;
}

[guiType="PageContent"] {
  background-color: transparent;
  overflow: inherit;
  padding-left: 20px;
  padding-right: 20px;

  .Spinner {
    height: 30px;
    margin: auto;
    padding: 20px;
    width: 300px;

    .Icon {
      background: $COM_WUI_FRAMEWORK_GUI_SPINNER no-repeat;
      height: 15px;
      width: 128px;
    }

    .Text {
      clear: both;
      color: $COM_WUI_FRAMEWORK_GRAY;
      left: -10px;
      position: relative;
      top: 8px;
    }
  }
}

.Note {
  border-left: 1px solid $COM_WUI_FRAMEWORK_GRAY;
  color: $COM_WUI_FRAMEWORK_GRAY;
  margin-left: 20px;
  width: 800px;
}

.GuiInterface .Index {
  background-color: $COM_WUI_FRAMEWORK_BLUE_LIGHT;
  overflow: auto;
  padding: 10px;
}

.Exception {
  margin: auto;
  width: 800px;

  .Message {
    border: 1px solid $COM_WUI_FRAMEWORK_BLACK;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
  }

  .Echo .Text {
    font-family: Consolas, serif;
  }
}

.Disable {
  cursor: default;
}

.GuiSelector {
  @include setOpacity(0);
  background-color: transparent;
  border: 0 solid $COM_WUI_FRAMEWORK_BLACK;
  color: transparent;
  cursor: none;
  display: block;
  height: 1px;
  left: -10px;
  position: fixed;
  top: -10px;
  width: 1px;
  z-index: -100;
}

.AbstractGuiObject {
  clear: both;
  float: left;
}

.CacheLoaderProgressBar {
  background-color: $COM_WUI_FRAMEWORK_RED;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 100000;
}

.GuiFixedHolder {
  border: 0 solid $COM_WUI_FRAMEWORK_BLACK;
  height: 0;
  position: fixed;
  width: 0;
}

[guiType="GuiWrapper"] {
  left: 0;
  position: relative;
  top: 0;
}

[guiType="GuiCol"] {
  display: table-cell;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  width: 0;

  > [guiType="GuiWrapper"] {
    display: inline-block;
    font-size: initial;
    line-height: initial;
    text-align: initial;

    &.FitToParentFull {
      width: 105%;
    }

    &.FitToParentHorizontal {
      width: 105%;
    }

    &.FitToParentVertical {
      width: 105%;
    }
  }
}

[guiType="GuiRow"] {
  display: table;
  height: 0;
  table-layout: fixed;
  vertical-align: top;
  width: 100%;
}

.AlignTop {
  text-align: center;
  vertical-align: top;
}

.AlignTopRight {
  text-align: right;
  vertical-align: top;
}

.AlignRight {
  text-align: right;
  vertical-align: middle;
}

.AlignBottomRight {
  text-align: right;
  vertical-align: bottom;
}

.AlignBottom {
  text-align: center;
  vertical-align: bottom;
}

.AlignBottomLeft {
  text-align: left;
  vertical-align: bottom;
}

.AlignLeft {
  text-align: left;
  vertical-align: middle;
}

.AlignTopLeft {
  text-align: left;
  vertical-align: top;
}

.AlignCenter {
  text-align: center;
  vertical-align: middle;
}

.RuntimeTest {
  // sass-lint:disable-block no-important
  overflow: auto !important;
  width: 1024px;

  .Content {
    width: 1024px;
  }
}
