// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../../../../dependencies/com-wui-framework-commons/resource/sass/reference";

@mixin setRotation($value) {
  // sass-lint:disable-block no-vendor-prefixes, property-sort-order
  $value: ($value / ($value * 0 + 1)) * 1deg;
  $cosTheta: cos($value);
  $sinTheta: sin($value);

  -moz-transform: rotate(-#{$value});
  -o-transform: rotate(-#{$value});
  -webkit-transform: rotate(-#{$value});
  transform: rotate(-#{$value});
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=#{$cosTheta}, M12=-#{$sinTheta}, M21=#{$sinTheta}, M22=#{$cosTheta}, sizingMethod='auto expand');
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=#{$cosTheta},M12=-#{$sinTheta},M21=#{$sinTheta},M22=#{$cosTheta},SizingMethod='auto expand')";
}
