// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

@mixin setTextSelectionColor($font, $background) {
  &::selection {
    background: $background;
    color: $font;
  }

  // sass-lint:disable-block no-vendor-prefixes
  &::-moz-selection {
    background: $background;
    color: $font;
  }
}
