// * ********************************************************************************************************* *
// *
// * Copyright (c) 2014-2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

.ViewHtmlCode {
  overflow: auto;

  pre {
    float: left;
  }

  .Line {
    color: $COM_WUI_FRAMEWORK_BLACK;
    min-height: 16px;
    padding-top: 2px;

    .Number {
      color: $COM_WUI_FRAMEWORK_GRAY;
      padding-right: 30px;
    }
  }

  .Even {
    background-color: $COM_WUI_FRAMEWORK_WHITE;
  }

  .Odd {
    background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
  }

  .Tag {
    color: $COM_WUI_FRAMEWORK_PING_GENERAL;
  }

  .Attribute {
    color: $COM_WUI_FRAMEWORK_BLACK;
    font-weight: bold;
  }

  .String {
    color: $COM_WUI_FRAMEWORK_BLUE_GENERAL;
    font-weight: normal;
  }

  .TagContent {
    color: $COM_WUI_FRAMEWORK_GREEN_GENERAL;
  }

  .Script {
    color: $COM_WUI_FRAMEWORK_ORANGE_GENERAL;
  }
}
